<h1> <%= @user.email %>'s Profile </h1>

<h3> Your daily calories goal: 2,000</h3>
<h3> You've currently consumed: <%= @todays_consumptions.sum(:calories) %>  calories</h3>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<%= render :partial => 'column_chart', :object => @todays_consumptions %>


<h3> Here's what you've eaten today: </h3>
<ul id = "eaten_foods_list">
  <% if @todays_consumptions.any? %>
    <% @todays_consumptions.each do |consumption| %>
      <li> <%= consumption.food.name %></li>
    <% end %>
  <% else %>
    <p>You haven't eaten anything today!</p>
  <% end %>
</ul>
<%= render :partial => 'consumptions/form', locals: {:@user => @user, :@consumption => @user.consumptions.new, :@foods => Food.all }%>

<div id="add_food_link">
  <%= link_to "Add a new food", new_food_path, remote: true %>
</div>
