<div id="add_consumption_form">
  <%= form_for [@user, @consumption], remote: true do |f| %>
    <h3>Add to your eaten foods:</h3>
    <%= f.collection_select(:food_id, @foods, :id, :name) %>
    <% options = ([['Breakfast', 'Breakfast'], ['Lunch', 'Lunch'], ['Dinner', 'Dinner'], ['Snack', 'Snack']]) %>
    <%= f.select(:meal, options_for_select(options)) %>
    <%= f.select(:servings, options_for_select((1..10))) %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit "Submit" %>
  <% end %>
</div>
